.product-holder {
    margin-top: 5rem;
}

.product-page-link {
    text-decoration: none;
}

.description-single-product {
    margin: 1rem 0;
    font-size: 0.8rem;
}

.quantity-input {
    width: 10%;
    padding: 3px;
}

.section-product h5, .product-display h5, .product-card h5 {
    margin-top: 0.5rem;
}

@media screen and (min-width: 750px) {
    .section-product {
        max-width: 400px;
        width: 50vw;
        height: fit-content;
        margin: 2rem auto;
    }
}